html{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #e5e5e5;
}

.logoa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.msg{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    resize: none;
    border: none;
    outline: none;
    background: none;
}

.sectionalert{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    top: 851px;
    left: 240px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    left: 240px;
    top: 885px;
}

.bencriptar{
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    flex-grow: 0;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

.bdesencriptar{
    box-sizing: border-box;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    flex-grow: 0;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.msganswer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    background: #ffffff;
    border-radius: 32px;
}

.muneco{
    position: absolute;
    width: 336px;
    height: 304px;
    top: 243px;
    left: 32px;
}

#answer{
    position: absolute;
    width: 336px;
    height: 61px;
    left: 32px;
    top: 579px;
    background: none;
    resize: none;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}
.msganswer p{
    position: absolute;
    width: 336px;
    height: 50px;
    left: 32px;
    top: 640px;
    background: none;
    resize: none;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #495057;
}

#copy{
    position: absolute;
    top: 845px;
    width: 328px;
    height: 67px;
    left: 36px;
    background:#d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    flex-grow: 0;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}